<div class="row">
  <div id="shows">
    <% @shows.each do |show| %>
      <div class="show">
        <div><%= show.date %></div>
        <div><%= show.venue %></div>
        <div><%= show.address %></div>
        <div><%= show.city %></div>
        <div><%= show.state %></div>
        <div><%= show.venue_phone %></div>
        <div><%= show.notes %></div>
        <div><%= show.tickets_url %></div>
        <div><%= link_to 'Show', show %></div>
        <div><%= link_to 'Edit', edit_show_path(show) %></div>
        <div><%= link_to 'Desdivoy', show, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>

  <%= link_to 'New Show', new_show_path %>
</div>
